@font-face {
    font-family: american;
    src: url('../fonts/AmericanCaptain.ttf');
}

body {
	background-color: #2E4F58;
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	position: relative;
}

main {
	width: 65%;
	margin: 0 auto;
	border: 1px solid #000;
	padding-bottom: 1100px;
	background-image: url('../images/main_background.png');
	border-radius: 4px;
	overflow: visible;
	
}

h1 {
	text-indent: -1000px;
	margin: 0;
	padding: 0;
	font-size: 0;
}




