div#logoImage {
	background-image: url('../images/Battleship_logo.png');
	background-repeat: no-repeat;
	padding: 78px 400px;
	background-position: center;
}

div#gameContain {
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
}

h2#highScore {
	color: gold;
	padding-top: 75px;
	text-shadow: -0.5px 0 #000, 0 0.5px #000, 0.5px 0 #000, 0 -0.5px #000;
}

h2#controlsHead {
	padding-top: 75px;
}

div#highScoreContain {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

table#userBoard, table#enemyBoard {
	margin: 0 auto;
	background-image: url('../images/index/water.png');
	background-repeat: no-repeat;
	background-position: center top;
}

td, th {
	width: 2.5em;
	height: 2.5em;
	border: 1px solid #fff;
	text-align: center;
}

th {
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
}

h2 {
	font-family: american;
	font-size: 45px;
	color: #000;
	text-align: center;
	margin-top: 0;
	text-shadow: -0.5px 0 #fff, 0 0.5px #fff, 0.5px 0 #fff, 0 -0.5px #fff;
}

